<header >
    <div class="header-container">
      <div class="logo">
        <h1>Courses APP</h1>
      </div>
      <nav class="nav-links">
        <ul>
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="course">Cursos</a></li>
          <li><a routerLink="contador">Contador</a></li>
          <li><a routerLink="form">Registrar Curso</a></li>
        </ul>
      </nav>
      <div class="cta">
        <!-- <a href="#inscribirse" class="btn-inscribirse">Inscribirse</a> -->
      </div>
    </div>
  </header>
